/*font-family: "Open Sans", sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

/*font-family: 'Quicksand', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/*font-family: neuzeit-grotesk, sans-serif;*/
@import url("https://use.typekit.net/rhq3atn.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.menu {
  @apply p-2 text-base mx-4 md:mx-16 hover:text-primary-300 transition-all uppercase;
}

.menu-selected {
  @apply font-bold text-primary-300;
}

.responsive-padding {
  @apply sm:px-12 md:px-20 lg:px-52 xl:px-72 2xl:px-72 py-12;
}

.columns-1 {
  column-count: 1;
}

.columns-3 {
  column-count: 3;
}

.columns-3 {
  column-count: 4;
}

html,
body {
  background-color: #ffffff;
}

.responsive-landing {
  height: 350px;
}

@media screen and (min-width: 768px) {
  .responsive-landing {
    height: 500px;
  }
}
